body {
  display: flex;
  width: 1440px;
  height: 960px;
  justify-content: center;
  align-items: center;
  background: var(--color-yellow, #f4d04e);
}

.card:hover {
  background: chartreuse;
  border-radius: 20px;
border: 1px solid var(--color-gray-950, #111);
background: var(--color-white, #FFF);
box-shadow: 8px 8px 0 0 #000;
}

button p {
  color: var(--color-gray-950, #111);
  font-family: Figtree;
  font-size: var(--font-size-text-preset-3, 14px);
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  background: var(--color-yellow, #f4d04e);
}

.published {
  color: var(--color-gray-950, #111);
  font-family: Figtree;
  font-size: var(--font-size-text-preset-3, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.card-title {
  align-self: stretch;
  color: var(--color-gray-950, #111);
  font-family: Figtree;
  font-size: var(--spacing-200, 20px);
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  
}

.card-title:hover {
  align-self: stretch;
  color: var(--color-gray-950, #111);
  font-family: Figtree;
  font-size: var(--spacing-200, 20px);
  font-style: italic;
  font-weight: 1000;
  line-height: 200%;
  cursor: pointer
}
.card-title:

.card-text {
  align-self: stretch;
  color: var(--color-gray-500, #6b6b6b);
  font-family: Figtree;
  font-size: var(--font-size-text-preset-2, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 32px;
 
}

.avatar:hover {
     background: url(./assets/images/image-avatar.webp) lightgray 90% / cover
    no-repeat;
}

.avatar-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.greg {
  color: var(--color-gray-950, #111);
  font-family: Figtree;
  font-size: var(--font-size-text-preset-3, 14px);
  font-style: normal;
  font-weight: 800;
  line-height: 150%; 
}
