body {
    display: flex;
    width: 1440px;
    height: 960px;
    justify-content: center;
    align-items: center;
    background: var(--color-yellow, #f4d04e);
}

.card:hover {
    background: chartreuse;
}



button p {
    color: var(--color-gray-950, #111);
    font-family: Figtree;
    font-size: var(--font-size-text-preset-3, 14px);
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    background: var(--color-yellow, #F4D04E);

}


.published {
    color: var(--color-gray-950, #111);

    /* text-preset-3 */
    font-family: Figtree;
    font-size: var(--font-size-text-preset-3, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

