body {
  display: flex;
  width: 1440px;
  height: 960px;
  justify-content: center;
  align-items: center;
  background: var(--color-yellow, #f4d04e);
}

.card:hover {
  background: chartreuse;
}

button p {
  color: var(--color-gray-950, #111);
  font-family: Figtree;
  font-size: var(--font-size-text-preset-3, 14px);
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  background: var(--color-yellow, #f4d04e);
}

.published {
  color: var(--color-gray-950, #111);
  font-family: Figtree;
  font-size: var(--font-size-text-preset-3, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.card-title {
  align-self: stretch;
  color: var(--color-gray-950, #111);
  font-family: Figtree;
  font-size: var(--spacing-200, 20px);
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.card-text {
  align-self: stretch;
  color: var(--color-gray-500, #6b6b6b);
  font-family: Figtree;
  font-size: var(--font-size-text-preset-2, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
